body {
    padding: 0;
    margin: 0;
    width: 10px;
}

.app {
    width: 1050px;
    height: 90vh;
    background: #343a40;
    margin-right: 17px;
}

aside {
    width: 300px;
    height: 100%;
    background: #37404a;
}

header {
    width: 100%;
    height: 150px;
    background: #343a40;
}

.logo {
    width: 100%;
    height: 70px;
    background: darkgrey;
}

.add {
    width: 100%;
    height: 80px;
}

.content {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.sticky {
    width: 100%;
    height: 200px;
    background: #44505c;
    border: 2px solid black;
    border-radius: 5px;
}

.sticky-body {
    color: #efffff;
}

.date {
    font-size: 15px;
    position: relative;
    top: -10px;
}

p {
    height: 70px;
    overflow: hidden;
}

.fa-times {
    font-size: 20px;
    top: 2px;
    position: relative;
}

.edit_notes {
    position: relative;
    top: -140px;
    right: 145px;
}

#main_add {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
}